---
layout: default
pagination:
 enabled: true
---
<!-- The main content area -->
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">  
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  <div class="grid-xlarge">
    <header class="major">
      <br />
      <br />
      <br />
      <h2 align="center">Tell me what you buy, I will tell you who you are.</h2>
      <h3 align="center">Applied Data Analysis EPFL, Autumn 2019</h3>
      <p align="center">
        Group Bubble582 under supervision of Robert West
        <br />
        <br />
      </p>
    </header>
    <a href="#" class="image main"><img src="{{ "assets/images/pic06.jpg" | absolute_url }}" alt="" /></a>
    <hr>
    <header>
      <h4>Introduction:</h4>

      <p class = 'text-justify lead'>In this project we are focusing on the consumer habits related to the customers profiles from an unknown shopping center in the US. Living in a time and age when every piece of our data is stored and analysed, we wonder what information retailers can gather and infer about us. An unknown American shopping center recorded up to 2 years of transactions for a group of voluntary customers. Based on this data, we seek to identify what are the links, if they exist, between specific demographics (e.g. marital status, income, number of children, etc) and purchase patterns. In other words, we would like to see how "easy" it is for retailers to infer a specific profile of their customers based on what they buy. Of course, this would lead to targetted marketing. In other words, we want to evaluate how much of a target we, as consumers, actually are.</p>
    </header>
  </div>
</head>

<body>
  <!--Posts: -->
  <div class="grid-xlarge">
  <header>
    <hr />
    <h4>Data Story:</h4>
  </header>
    <div class="posts__container" itemscope itemtype="http://schema.org/Blog" data-columns>

      {% for post in paginator.posts %}

        <!-- The tag below includes the markup for each post - partials/post-card.html -->
        {% include post-card.html %}

      {% endfor %}
    </div>
  </div>

<!-- Team Section -->
<div class="grid-xlarge">
  <header>
    <hr />
    <h4>Our amazing team:</h4>
    <br/>
  </header>
  <div class="container-fluid">
    <div class="row justify-content-md-center">
      {% for member in site.people %}
        <div class="col">
          <div class="team-member">
            <div class = 'container'>
              <img src="assets/images/{{ member.pic }}.jpg" class="img-circle" width="210" height="210" alt="">
              <h5>{{ member.name }}</h5>
              <p class="text-muted">{{ member.background }}</p>
              <ul class="list-inline social-buttons">
                {% for network in member.social %}
                  <li>{{ network.title }} : 
                    <a href="{{ network.url }}">
                      <i class="fa fa-{{ network.title }}"></i>
                    </a>
                  </li>
                {% endfor %}
              </ul>
                
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
  {% include pagination.html %}
  
</body>
</html>
